<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TranferDataToSQLApp.Properties.Settings.HCMHRSystemsConnectionString"
            connectionString="Data Source=D2E1CLDB15\SQL16DEVH;Initial Catalog=HCMHRSystems;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VerifyUserConnection" connectionString="Data Source= D2E1CLDB15\SQL16DEVH;Initial Catalog= HCMHRSystems;Integrated Security=True "
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="cmd_string" value="C:\windows\system32\cmd.exe"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>